[user]
	email = bjboreham@gmail.com
	name = Bryan Boreham
	signingkey = ~/.ssh/id_ed25519.pub
[push]
	default = simple
[credential]
	helper = cache --timeout=79200
[diff]
	tool = meld
	noprefix = true
[difftool]
	prompt = false
[core]
	editor = code --wait
	excludesFile=~/.gitignore
[merge]
  conflictstyle = diff3
[gpg]
	program = gpg2
	format = ssh
[pull]
	ff = only
[init]
	defaultBranch = main
[http]
	cookiefile = ~/.gitcookies
