[user]
	email = bjboreham@gmail.com
	name = Bryan Boreham
[push]
	default = simple
[credential]
	helper = cache --timeout=79200
[diff]
	tool = meld
	noprefix = true
[difftool]
	prompt = false
[core]
	editor = emacsclient
	excludesFile=~/.gitignore
[merge]
  conflictstyle = diff3
[gpg]
	program = gpg2
