[user]
	email = bjboreham@gmail.com
	name = Bryan Boreham
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[diff]
	tool = meld
[difftool]
	prompt = false
[core]
	editor = emacsclient
